%p
  %strong= page_template.name
  %em= "."+ page_template.css_class
  - if can?(:manage,page_template)
    [
    = link_to( t(:edit), edit_page_template_path(page_template))
    |
    = link_to( t(:delete), page_template, :method => :delete,  :confirm => t(:are_you_sure))
    ]
  %blockquote
    = ContentItem::markdown( "````html\n#{page_template.html_template}\n````\n" )