<%= form_for(blog, :html => { :multipart => true } ) do |f| %>

  <%= errors_for(blog)%>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 80 %>
  </div>

  <div class="field">
    <%= f.label :cover_picture %>
    <%= render(
          :partial => 'cover_picture',
          :locals => { :blog => blog, :format => :thumb, :style => 'display: inline; ' }
        )
    -%>
    <%= f.file_field :cover_picture %>
  </div>
  <div class='field'>
    <%= f.label sc(:nbsp) %>
    <%= ui_button( 'delete', t(:delete_picture),  delete_cover_picture_blog_path(blog), :remote => true,
        :confirm => t(:are_you_sure)) unless blog.new_record? %>
  </div>

  <div class="field">
    <%= f.label :user_role, t(:necessary_role) %>
    <%= f.select :user_role, options_for_user_role %>
  </div>

  <div class="field">
    <%= f.label :allow_comments %>
    <%= f.check_box :allow_comments %><%= t(:allow_comments) %>
  </div>

  <div class="field">
    <%= f.label :allow_public_comments %>
    <%= f.check_box :allow_public_comments %><%= t(:allow_public_comments) %>
  </div>
  
  <div class="field">
    <%= f.label :synopsis %>
    <%= f.text_area :synopsis, :rows => 5, :cols => 60 %>
  </div>
  

  <div class='field'>
    <%= f.label :page_tokens, t(:sidebar_pages) %>
    <div style='margin-left: 200px;'>
      <% for page in Page.asc(:title) %>
        <%= check_box_tag "blog[page_tokens][]", page.id.to_s, blog.pages.include?(page) %> <%= page.title %><br/>
      <% end %>
    </div>
  </div>
  
  <div class='field'>
    <%= f.label :is_draft, t(:save_as_draft) %>
    <%= f.check_box :is_draft %> <%= t(:will_be_shown_to_authors_only)%>
  </div>
  
  
  <div class='clear'></div>


  <div class="actions">
    <%= f.label :submit, t(:save_changes) %>
    <%= f.submit :class => 'button save' %>
  </div>
<% end %>
