-# TODO: Duplication - Posting Header and Links 
%h2= link_to(posting.title, blog_posting_path(blog,posting))
- if posting.is_draft
  %p= t(:is_draft_label)
= render :partial => '/postings/cover_picture', :locals => { :posting => posting }
%p{:style=>'margin-bottom: 5px;'}
  %span{:class=>'item_link_buttons'}
    = link_to( t(:read), blog_posting_path(blog,posting), :class => 'read_blog_posting') if can? :read, posting
    = link_to( t(:edit), edit_blog_posting_path(blog,posting)) if can? :edit, posting
    = link_to( t(:destroy), blog_posting_path(blog,posting), :confirm => t(:are_you_sure), :method => :delete) if can? :manage, posting

- addr_class = posting.created_at > current_user_field(:last_sign_in_at,Time::now()-1.hour) ? "new_posting" : "old_posting"
%address{:class=> addr_class}
  = t(:user_wrote_a_comment_at, :user => posting.user.name, :at => distance_of_time_in_words_to_now(posting.created_at)   ).html_safe
<g:plusone size="small"></g:plusone>
= posting.render_for_html(posting.render_intro).html_safe
