- content_for :resource_actions do
  = ui_button 'back', t(:blog_index), blogs_path
  = ui_button('add', t(:create_new_posting), new_blog_posting_path(@blog), :add_class =>'green' ) if can? :create, Posting
  
- javascript 'endless_page'

%div
  - if @blog.pages.any?
    - content_for :right_column do
      .sidebar-right
        - for page in @blog.pages.where(is_draft: draft_mode)
          = render :partial => 'pages/page_intro', :locals => { :page => page }
          %p.content_seperator

  .left_column
    = render :partial => '/blogs/blog', :locals => { :blog => @blog}
    
    - render_pagination_box @postings
    
    #postings{ style: 'clear: right;'}
      - @postings.each do |posting|
        = render :partial => '/postings/posting', :locals => { :posting => posting, :blog => @blog }
      = render :partial => '/home/load_more', :locals => { :resources => @postings, :path => blog_path(@blog) }
    
    - render_pagination_box @postings
    
    .clear
  .clear