<%= content_tag :div, :id => "comment_#{comment.id.to_s}", :class => 'comment' do %>

  <address class='<%= comment.created_at > current_user_field(\
                      :last_sign_in_at,Time::now()-1.hour) ? "new_comment"\
                      : "old_comment" -%>'
  >
      <%= t(:user_wrote_a_comment_at, :user => comment.name || 'Anonymous', 
          :at => distance_of_time_in_words_to_now(comment.created_at)   ).html_safe %>          
    
        
      <%= link_to( comment.time_left_to_edit > 0 ? \
                   t(:edit_for_another_count_minutes,:count => comment.time_left_to_edit) :\
                   t(:edit), 
            commentable_path(comment, path_components),
            :remote => true ) if can? :edit, comment, session[:comments] 
      %>
            
      <%= link_to( t(:destroy), 
            commentable_path(comment, path_components).gsub(/\/edit$/,''),
            :confirm => t(:are_you_sure), 
            :remote => true, 
            :method => :delete) if can? :manage, comment 
      %>
  </address>
  
  <div id='comment_comment_<%= comment.id.to_s -%>'>
    <%= sanitize(RedCloth.new(comment.comment).to_html) %>
  </div>
  
<% end %>