<% title t(:comments) %>

<% for comment in @comments %>
  <div class='comment', id='comment_<%= comment.id.to_s -%>'>
     <h2><%= link_to comment.commentable.title, commentable_show_path(comment.commentable) %></h2>
     <p>
       <strong><%= t(:user_wrote_a_comment_at, :user => comment.name || 'Anonymous', 
               :at => distance_of_time_in_words_to_now(comment.created_at)   ).html_safe %>
               (<%= comment.created_at -%>)    
       </strong>
     </p>
     <p>
       <%= comment.comment %>
     </p>
     <p>
       <%= link_to( t(:destroy), comment, :method => :delete, :remote => true, 
                    :confirm => t(:are_you_sure) ) if can?( :destroy, comment ) 
       %>
     </p>
  </div>
<% end %>