- title t(:comments_of_last_year)
- comments = @comments.partition{|c| c.commentable.nil? }
= comments[0].count.to_s + " / " + comments[1].count.to_s
- for group in [0,1] # 0 => orphaned, 1 => with commentable
  -for comment in comments[group]
    - present comment do |presenter|
      %div{:class=>'comment', :id=>'comment_'+comment.id.to_s}
        %p=  presenter.avatar
        %h2= presenter.title_and_link(group)
        %strong= presenter.user_time_and_ip
        %p= presenter.render_comment
        %p= link_to( t(:destroy), comment, :method => :delete, :remote => true, :confirm => t(:are_you_sure), :class => 'button delete small' ) if can?( :destroy, comment )
