<% if defined?(OMNIAUTH_CAMPUS_ID) %>
  <a href="/auth/campus" class="auth_provider">
    <%= image_tag "campus_sixtyfour.png", :size => "64x64", :alt => "WWEDU Campus" %>
    WWEDU
  </a>
<% end %>

<% if defined?(OMNIAUTH_TWITTER_KEY) %>
  <a href="/auth/twitter" class="auth_provider">
    <%= image_tag "twitter_sixtyfour.png", :size => "64x64", :alt => "Twitter" %>
    Twitter
  </a>
<% end %>

<% if defined?(OMNIAUTH_FACEBOOK_KEY) %>
  <a href="/auth/facebook" class="auth_provider">
    <%= image_tag "facebook_sixtyfour.png", :size => "64x64", :alt => "Facebook" %>
    Facebook
  </a>
<% end %>
  <!--
  <a href="/auth/google_apps" class="auth_provider">
    <%= image_tag "google_sixtyfour.png", :size => "64x64", :alt => "Google" %>
    Google
  </a>
  -->

<% if defined?(OMNIAUTH_LINKED_IN_KEY) %>
  <a href="/auth/linked_in" class="auth_provider">
    <%= image_tag "linkedin_sixtyfour.png", :size => "64x64", :alt => "LinkedIn" %>
    LinkedIn
  </a>
<% end %>

<% if defined?(OMNIAUTH_BASECAMP_ID) %>
  <a href="/auth/thirty_seven_signals" class="auth_provider">
    <%= image_tag "basecamp_sixtyfour.png", :size => "64x64", :alt => "Basecamp" %>
    Basecamp
  </a>
<% end %>

<% if defined?(OMNIAUTH_GITHUB_ID) %>
  <a href="/auth/github" class="auth_provider">
    <%= image_tag "github_sixtyfour.png", :size => "64x64", :alt => "Github" %>
    Github
  </a>
<% end %>

<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "openid_sixtyfour.png", :size => "64x64", :alt => "OpenID" %>
  OpenID
</a>




<div class="clear"></div>
