<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<!--
<a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>
  Google
</a>
-->
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "openid_64.png", :size => "64x64", :alt => "OpenID" %>
  OpenID
</a>

<a href="/auth/linked_in" class="auth_provider">
  <%= image_tag "linkedin_64.png", :size => "64x64", :alt => "LinkedIn" %>
  LinkedIn
</a>

<a href="/auth/thirty_seven_signals" class="auth_provider">
  <%= image_tag "basecamp_64.png", :size => "64x64", :alt => "Basecamp" %>
  Basecamp
</a>

<a href="/auth/github" class="auth_provider">
  <%= image_tag "github_64.png", :size => "64x64", :alt => "Github" %>
  Github
</a>

<a href="/auth/campus" class="auth_provider">
  <%= image_tag "campus_64.png", :size => "64x64", :alt => "WWEDU Campus" %>
  WWEDU
</a>


<div class="clear"></div>
