<% title t(:authentications_for_user, :user => current_user.name ) %>

<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>You have signed in with these services:</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider_name %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <% content_for :service_title do %><p style='clear: left;'><strong>Add another service to sign in with:</strong></p><% end %>
<% else %>
  <% content_for :service_title do %><p style='clear: left;'><strong>Sign in through one of these services:</strong></p><% end %>
<% end %>

<% if yield(:service_title).blank? %>
  <h2 style='clear: both;'><%= t(:or_authenticate_through_service) %></h2>
<% else %>
  <%= yield(:service_title)%>
<% end %>

<%= render :partial => '/authentications/authentications' %>

<% unless user_signed_in? %>
  <p>
    <strong>Don't use these services?</strong>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "sign in", edit_user_registration_path %> with a password.
  </p>
<% end %>

<h4 style='clear: both;'>
    <%=raw t(:back_to)+sc(:nbsp,:pr,:nbsp) -%><%= link_to t(:registration_settings), edit_user_registration_path %>
</h4>