<h1><%= raw(@notify_subject) %></h1>
<address>
  From: <%= @from_name %> <<%= @from_mail -%>><br />
  <%= @link_to_commentable -%><br />
</address>

<h2>COMMENT:</h2>
<div>
  <%= sanitize(RedCloth.new(@comment).to_html.html_safe) %>
</div>






