<div id='user_notifications'>
   <ul>
     <% for notification in user_notifications %>
       <li id="noification_<%= notification.created_at.to_i -%>">
         <strong><%= notification.created_at.to_s(:short) %></strong>: 
         <%= notification.message %>
         <br />
         <% unless notification.hidden %>
           <%= link_to t(:hide), hide_notification_path(notification.created_at.to_i) %>
         <% else %>
           <%= link_to t(:show_again), show_notification_path(notification.created_at.to_i) %>
         <% end %>
       </li>
     <% end %>
   </ul>
</div>