- title t(:edit_role_for_user, :user => @user.name )

- if @user.avatar
    = image_tag @user.avatar_url(:thumb), :style=>'float: right;'


= form_for(@user, :url => update_role_user_path(@user), :html => { :method => :put }) do |f|
    = render :partial => 'registrations/role', :locals => { :user => @user, :f => f, :partial_title => "<h2>#{t('userlist.role')}</h2>".html_safe}
    %p= f.submit
    %p= link_to t(:list_registrations), registrations_path
