<% title t(:edit_roles_for_user, :user => @user.name ) %>

<% if @user.avatar %>
  <%= image_tag @user.avatar_url(:thumb), :style=>'float: right;' %>
<% end %>


<%= form_for(@user, :url => update_roles_user_path(@user), 
  :html => { :method => :put, :multipart => true }) do |f| %>

  
  <%= render :partial => 'registrations/roles', 
       :locals => { :user => @user, 
                    :f => f,
                    :partial_title => "<h2>#{t('userlist.roles')}</h2>".html_safe} 
   %>

   <p><%= f.submit %></p>
   <p><%= link_to t(:list_registrations), registrations_path %></p>
<% end %>