- title t(:edit_role_for_user, :user => @user.name )

- content_for :resource_actions do
    = link_to t(:list_registrations), registrations_path, :class => 'button back'

%div{:style => 'clear: right'}

- if @user.avatar
    = image_tag @user.avatar_url(:thumb), :style=>'float: right;'


= form_for(@user, :url => update_role_user_path(@user), :html => { :method => :put }) do |f|
    = render :partial => 'registrations/role', 
             :locals => { :user => @user, :f => f, 
                          :partial_title => "<h2>#{t('userlist.role')}</h2>".html_safe }
    .field
        = f.label :submit, sc(:nbsp).html_safe
        = f.submit :class => 'button save'
