- title t('userlist.title'),false 
- content_for :head do
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
= javascript 'endless_page'

.pagination_box= will_paginate @users

%h2<
    =yield(:title)
    .tiny
        = t(:registered_users_count, :count => @user_count) 
  
%div#user-list
    - for user in @users
        = render user 
        %p{ :style=>'clear: left;' }

    = render :partial => '/home/load_more', :locals => { :resources => @users, :path => registrations_path }

.pagination_box= will_paginate @users
