<% title t('userlist.title') %>
<% javascript 'endless_page' %>

<%= content_tag :div, :class => 'right_box' do %>
    <%= t(:registered_users_count, :count => @user_count) %>
<% end %>

<div style='text-align: center;'>
    <%= will_paginate @users %>
</div>

<div id='userlist'>
  <% for user in @users %>
    <div style='clear: right;'>
       <%= render user %>
       <p style='clear: left;'></p>
    </div>
  <% end %>
  <%= render :partial => '/home/load_more', :locals => { :resources => @users, :path => registrations_path } %>
</div>

  
<div style='text-align: center;'>
    <%= will_paginate @users %>
</div>
