$(".pagination").html('<%= escape_javascript(will_paginate(@users)) %>');
  
$('.load_more').before( '<div id="page<%= @users.current_page -%>" style="clear: both; display: none;">'+
                          '<p class="page_seperator"><%= @users.current_page -%>'+
                          '/<%= @users.total_pages -%></p>'+
                          '<%= escape_javascript(render(:partial => @users)) -%>'+
                          '</div>');  

<% if @users.total_pages && (@users.current_page < @users.total_pages) %>
   $('#load_more').html( '<%=  escape_javascript(link_to_function(t(:load_more),"insert_load_button( 'load_more','#{t(:loading)}',"+
        "'#{registrations_path(:page => (params[:page] ? (params[:page].to_i+1) : 2))}')", :id => "load_more_link" )) -%>');
   $('#page<%= @users.current_page -%>').slideDown();
   setTimeout("checkScroll()", 500);
<% else %>
  $('#page<%= @users.current_page -%>').slideDown();
  $('#load_more').html('<p style="text-align:center; margin-top: 20px;"><%= escape_javascript(t(:end_of_list)) -%></p>');
<% end %>

