- title t('userlist.title')
= javascript 'endless_page'

- content_for :resource_actions do
    %div{:style => 'margin-right: 15px;'}
        .button= t(:registered_users_count, :count => @user_count) 

.pagination_box= will_paginate @users

%div#userlist
    - for user in @users
        %div{ :style=>'clear: right;'}= render user 
        %p{ :style=>'clear: left;' }

    = render :partial => '/home/load_more', :locals => { :resources => @users, :path => registrations_path }

.pagination_box= will_paginate @users
