<% title t(:sign_up) %>

<% invited? %>

<blockquote>    
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    
    <% if resource.invitation %>
      <h3><%= t(:you_are_invited_by, :name => resource.invitation.user.name) %></h3>
      <p>
        <%= sanitize(resource.invitation.message||"")%>
        <ul><li><%= resource.invitation.user.name %> &lt;<%= resource.invitation.user.email -%>&gt;</li></ul>
      </p>
      <%= f.hidden_field :invitation_id %>
    <% end %>
  
    <div class='field'><%= f.label :name %>
    <%= f.text_field :name %></div>
  
    <div class='field'><%= f.label :email %>
    <%= f.text_field :email %></div>
  
    <div class='field'><%= f.label :password %>
    <%= f.password_field :password %></div>
  
    <div class='field'><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></div>
  
    <div class='field'><%= f.submit t(:sign_up) %></div>
  <% end %>
</blockquote>

<h2><%= t(:or_user_omni_auth) -%></h2>
<blockquote>
  <%= render '/authentications/authentications' %>
</blockquote>


<h2><%= t(:links) %></h2>
<blockquote>
  <%= render :partial => "devise/shared/links" %>
</blockquote>