<%= form_for([@blog,@posting], :html => { :multipart => true } ) do |f| %>

  
  <% if @posting.errors.any? %>
    <!-- ERRORS =================================== -->
    <div id="error_explanation">
      <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

      <ul>
      <% @posting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @posting.attachments.each do |p| %>
         <ul>
         <% p.errors.each do |error| %>
           <li><%=  p.errors[error].join("<br/>".html_safe) -%></li>
         <% end %>
         </ul>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- FIELDS ===================================== -->
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 80 %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, :rows => 10, :cols => 60 %>
  </div>
  <div class="field">
    <%= f.label :cover_picture %>
    <%= render( 
          :partial => 'cover_picture', 
          :locals => { :posting => @posting, :format => :thumb, :style => 'display: inline; ' } 
        )
    -%>
    <%= f.file_field :cover_picture %>
    <%= link_to( t(:delete_picture), delete_cover_picture_blog_posting_path(@posting.blog,@posting), :remote => true,
        :confirm => t(:are_you_sure)) unless @posting.new_record? %>
  </div>
  
  <!-- ATTACHMENTS ================================ -->
  <div id='attachments' style='clear: right;'>
    <h3><%= t(:attachments) -%></h3>
    <blockquote>
      <%= f.fields_for :attachments do |builder| %>
        <%= render '/attachments/attachment_fields', :f => builder %>
      <% end %>
      <div id='new_asset'></div>
      <p>
        <%= link_to_add_fields(t(:new_attachment).html_safe, f, :attachments)%>
      </p>
    </blockquote>
  </div>

  <div class='before_save_button'></div>
  <div class='clear'></div>

  <div class="actions">
    <%= f.label :submit, t(:save_changes) %>  
    <%= f.submit %>
  </div>
<% end %>
