-# - TODO: Duplication - Posting Header and Links
- interpret posting do |presenter|
  %div{:style=>'clear: right;',:id => 'posting'}
    - if can? :edit, posting
      = presenter.edit_buttons
    .side-tab-content
      = presenter.title
      = presenter.tags_and_limited_information
      = presenter.cover_picture('margin-right: 10px;',:thumb)
      - unless params[:controller] == 'postings' && params[:action] == 'show'
        = presenter.user_and_time
        = presenter.intro
        = presenter.comment_links
        = presenter.read_more
      - else
        = presenter.user_time_and_blog
        - if can? :edit, posting
          = ui_button 'edit', t(:edit), edit_blog_posting_path(posting.blog, posting)
        - if can? :manage, posting
          = ui_button 'delete', t(:delete), blog_posting_path(posting.blog, posting), method: :delete, confirm: t(:are_you_sure)
        = presenter.body
        = presenter.comments
= javascript_tag "$('#posting_#{posting.id.to_s}').hide()"
