- title t(:welcome), false
= javascript 'endless_page'

- if can?( :create, Posting ) && @blog
    - content_for :resource_actions do
        %p= ui_button('add', t(:create_new_posting), new_blog_posting_path(@blog), :add_class => 'green')

.column-wrapper

    - if (p=Page.top_pages.where(is_draft: draft_mode)).any?
        - content_for :right_column do
            - for page in p
                = render :partial => 'pages/page_intro', :locals => { :page => page }
                %p.content_seperator
            = insert_twitter_box
    - unless @blog.nil? 
        %p{:style=>'clear: left;'}
        
        %div#postings.left_column
            - render_pagination_box @postings
            - for posting in @postings
                %div{:style=>'clear: right;'}
                = render :partial =>  posting, :locals => { :blog => @blog }
                %p{:style=>'clear: left;'}  
            = render :partial => '/home/load_more', :locals => { :resources => @postings, :path => root_path }
            - render_pagination_box @postings

        %p{:style=>'clear: right;'}
    
    .clear