<% title APPLICATION_CONFIG['name'] + " " + t(:welcome), false %>
<% javascript 'endless_page' %>

<div>
  <% if (p=Page.top_pages).any? %>
    <div class='right_column' style='border-left: 1px dotted #ddd;'>
      <% for page in p %>
        <%= render :partial => '/pages/page_intro', :locals => { :page => page } %>  
        <p class='content_seperator'></p>
      <% end %>
    </div>
  <% end %>
  
  <% unless @blog.nil? %>
    <p style='clear: left;'></p>
    
    <div id='postings' style='width: 58%; float:left'>
      <%= link_to( t(:create_new_posting), new_blog_posting_path(@blog), :class => 'green_button') if can? :create, Posting %>
    
      <p><%= will_paginate @postings %></p>
    
      <% for posting in @postings %>
        <div style='clear: right;'>
           <%= render posting %>
           <p style='clear: left;'></p>
        </div>
      <% end %>
      
      <%= render :partial => '/home/load_more', :locals => { :resources => @postings, :path => root_path } %>

      
      <p><%= will_paginate @postings %></p>
      
      
    </div>
  <% end %>
  <p style='clear: right;'></p>
</div>
<div style='clear: both;'></div>