<%= form_for(page, :html => { :multipart => true } ) do |f| %>

  <%= errors_for page %>
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 80 %>
  </div>
  <div class="field">
      <%= f.label :show_in_menu %>
      <%= f.check_box :show_in_menu %> <%= t(:show_in_menu) %>
      <%= t(:at_position) -%>: 
      <%= f.text_field :menu_order, :size => 5, :placeholder => t(:last_position) %>
  </div>
  <div class="field">
     <%= f.label :interpreter %>
     <%= f.select :interpreter, [['Markdown',:markdown], ['Textile', :textile], [t(:none),:none]] %>
     <%= render :partial => '/home/interpreter_help' %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, :rows => 20, :cols => 80 %>
  </div>
  <div class="field">
    <%= f.label :cover_picture %>
    <div style='margin-left: 200px'>
    <%= render( 
          :partial => 'cover_picture', 
          :locals => { :page => page, :format => :thumb, :style => 'display: inline; ' } 
        )
    -%><br/>
    <%= f.file_field :cover_picture %>
    <%= link_to( t(:delete_picture), delete_cover_picture_page_path(page), :remote => true,
        :confirm => t(:are_you_sure)) unless page.new_record? %>
    </div>
  </div>
  
  <div id='attachments' style='clear: right;'>
    <h3><%= t(:attachments) -%></h3>
    <blockquote>
      <%= f.fields_for :attachments do |builder| %>
        <%= render '/attachments/attachment_fields', :f => builder %>
      <% end %>
      <div id='new_asset'></div>
      <p>
        <%= link_to_add_fields(t(:new_attachment).html_safe, f, :attachments)%>
      </p>
    </blockquote>
  </div>
  <div class='before_save_button'></div>

  
  <div class="actions">
    <%= f.label :submit, t(:save_changes) %>  
    <%= f.submit %>
  </div>
<% end %>
