<%= set_browser_address(page.id,page.title) %>

<% title page.title_and_flags %>

<!-- PICTURE -->
<%= render( :partial => 'cover_picture',
    :locals => { :page => page, :format => :medium, :style => "float:right; margin-left: 10px;" }
    ) if page.cover_picture_exists?
%>

<!-- BUTTONS -->
<%= render :partial => 'pages/buttons', :locals => { :page => page } %>

<!-- BODY -->
<div id='page_<%= page.id -%>' class='page_body'>
  <%= raw( page.page_with_edit_component_buttons( self )  { |component|
    "<p>"+
      link_button(t(:edit),"button edit small", edit_page_page_component_path(page,component), :remote => true)+
    "</p>" })
  -%>
</div>

<!-- ATTACHMENTS -->
<%= render :partial => 'attachments', :locals => {:page => page } %>


<!-- COMMENTS -->
<%= render :partial => 'comments', :locals => {:page => page} %>