<%= set_browser_address(page.id,page.title) %>

<% title page.title %>

<!-- PICTURE -->
<%= render( :partial => 'cover_picture',
    :locals => { :page => page, :format => :medium, :style => "float:right; margin-left: 10px;" }
    ) if page.cover_picture_exists?
%>

<!-- BUTTONS -->
<%= render :partial => 'pages/buttons', :locals => { :page => page } %>

<!-- BODY -->
<div id='page_<%= page.id -%>' class='page_body'>
  <%= sanitize(page.render_body(self)).html_safe %>
</div>

<!-- ATTACHMENTS -->
<%= render :partial => 'attachments', :locals => {:page => page } %>


<!-- COMMENTS -->
<%= render :partial => 'comments', :locals => {:page => page} %>