.page_intro
  - if page.cover_picture_exists?
    = render :partial => '/pages/cover_picture', :locals => {:page => page, :format => :thumb, :style => 'float:right;margin-left: 10px'}

  %h1= link_to page.title_and_flags, page

  = sanitize(page.render_intro).html_safe

  %p
    %span.item_link_buttons
      = link_to t(:read), "/p/#{page.link_to_title}"
      - if can? :manage, page
        = link_to t(:edit), edit_page_path(page)
        = link_to t(:destroy), page, :confirm => t(:are_you_sure), :method => :delete

      = t(:num_of_comments, :count => page.comments.count )
      - if user_signed_in? && (count=page.comments.since(current_user_field(:last_sign_in_at,0)).count) > 0
        %span.new_comments= t(:new_since_last_visit, :count => count)

