<% content_for :action_buttons do %>
  <%= link_to 'New Page', new_page_path %>
<% end %>

<% title t(:listing_pages) %>

<%= will_paginate @pages %>

<% @pages.each do |page| %>
 <% if page.cover_picture %>
   <%= render :partial => 'cover_picture', 
      :locals => {:page => page, :format => :thumb, :style => 'float:right;margin-left: 10px'} %>
 <% end %>
 <h1><%= page.title %></h1>
 <%= sanitize(page.render_intro).html_safe %>
 
 <p>
   <%= link_to t(:read), page %>
   <% if can? :manage, page %>
     | <%= link_to t(:edit), edit_page_path(page) %> |
     <%= link_to t(:destroy), page, :confirm => t(:are_you_sure), :method => :delete %>
   <% end %>
<% end %>

<div class='clear'></div>

<%= will_paginate @pages %>

