- title t(:article_templates)

%div
  .right_box{style: 'text-align: left'}
    = render '/home/menu/page_template_menu'

#page_template_list{ style: "overflow: hidden" }
  - @pages.each do |page|
    .page_template
      %h1= page.title
      %address
        = link_to t(:edit), edit_page_path(page)
        |
        = link_to t(:delete), page, :method => :delete, :confirm => t(:are_you_sure)
        |
        = link_to t(:create_new_article), create_new_article_pages_path(:page => {:template_id => page.id.to_s}), :method => :post
