- title t(:article_templates)

- content_for :right_column do
  .sidebar-right
    = render '/home/menu/page_template_menu'

#page_template_list{ style: "overflow: hidden" }
  - @pages.each do |page|
    .page_template
      %h1= page.title
      %address
        = ui_button 'edit'  , t(:edit), edit_page_path(page)
        = ui_button 'delete', t(:delete), page, :method => :delete, :confirm => t(:are_you_sure)
        = ui_button 'add'   , t(:create_new_article), create_new_article_pages_path(:page => {:template_id => page.id.to_s}), :method => :post
