- title t(:invite_user)

= errors_for @invitation


= form_for [@user,@invitation] do |f|
    %blockquote= t(:explain_invite_user)


    %p
        = f.label :name
        = f.text_field :name, :placeholder => t(:invitee_name), :size => 80
    
    %p
        = f.label :email
        = f.text_field :email,:placeholder => t(:invitee_email), :size => 80
    
    %p
        = f.label :roles_mask
        = f.select :roles_mask,                                                            |
            User::ROLES[0..current_user.roles_mask].map { |r|                              |
            [t('roles.'+r.to_s)+" ("+t("role_label_#{r.to_s}")+")",User::ROLES.index(r)] } |
        %br
        %span{ :style=>'margin-left: 200px; font-size: 0.7em;'}= t(:explain_roles_mask_for_invitations)
    
    %p
        = f.label :message
        = f.text_area :message, :rows => 5, :cols => 80, :placeholder => t(:optional_message_for_invitation)
    
    %p
        = f.label :submit
        = f.submit t(:send_invitaiton)

- content_for :resource_actions do 
    = ui_button 'back', t(:do_not_send_invitation), :back
    = ui_button( 'edit', (t(:edit_profile) + sc(:nbsp,:pr,:nbsp) + t(:you)).html_safe, edit_registration_path(@user)) 
    = ui_button( 'groups', t(:your_groups), user_user_groups_path(@user))
