<% title t(:sign_in) %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class='field'><%= f.label :email %>
  <%= f.text_field :email %></div>

  <div class='field'><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class='field'><%= f.label :remember_me %>
     <%= f.check_box :remember_me %> <%= t(:stay_logged_in)%></div>
  <% end -%>

  <div class='field'><%= f.submit t(:sign_in) %></div>
<% end %>

<h2><%= t(:or_user_omni_auth) -%></h2>

<%= render '/authentications/authentications' %>




<%= render :partial => "devise/shared/links" %>