<li><%= menu_link_to t("menu.home"), root_path %></li>

<% if can? :read, Page %>
  <% for page in top_pages %>
    <li><%= menu_link_to page.short_title, "/p/#{page.link_to_title}" %></li>
  <% end %>
<% end %>

<% if can? :read, Blog %>
  <li><%= menu_link_to t(:blogs), blogs_path %></li>
<% end %>

<% if can? :read, User %>
  <li><%= menu_link_to t("menu.userlist"), registrations_path %></li>
<% end %>

<% if can? :read, Comment.new %>
  <li><%= menu_link_to t("menu.comments"), comments_path %></li>
<% end %>

<% if user_signed_in? %>
  <li><%= link_to "[i]", notifications_path %></li>
<% end %>



