%h3= link_to_function f.object.title, "toggle_div('fields_for_component_#{f.object.id.to_s}');"

%div{:id =>  "fields_for_component_#{f.object.id.to_s}", :class => "fields_for_component" }

    .fields{ :style=>'margin-top: 10px;' }
        .field
            - translations_for_field( f, :title, :text_field, :size => 80 ) do |locale, field|
                %span{style: 'padding-left: 0;'}
                = raw(field)
                %br/
            - if f.object.new_record? || (f.object.page && (f.object.page.allow_removing_component||f.object.page.is_template)) 
                %span{ :style => "float: right; width: 200px" }
                    = link_to_remove_fields( t(:destroy_component), f )
                    %br
                    = t(:html_template_label).html_safe
        .field
            - translations_for_field( f, :body, :text_area, :rows => 5, :cols => 80 ) do |locale, field|
                %span{style: 'padding-left: 0;'}
                = raw(field)
                %br/
                
        .field
            = f.label :position_and_template
            = f.text_field :position, :size => 5, :class => 'number-field'
            = f.select(:page_template_id, PageTemplate.only(:id,:name).reject{|r| r.name !~ /^Component/}.map {|t| [t.name, t.id]},
                       :allow_blank => t(:no_template))
%hr